# Auto detect text files and perform LF normalization
* text=auto
TeamL/Assets/StreamingAssets/.PLATEAU/13101_chiyoda-ku_city_2023_citygml_1_op/udx/bldg/53394611_bldg_6697_op.gml filter=lfs diff=lfs merge=lfs -text
TeamL/Assets/StreamingAssets/.PLATEAU/13101_chiyoda-ku_city_2023_citygml_1_op/udx/dem/533946_dem_6697_op.gml filter=lfs diff=lfs merge=lfs -text
TeamL/Assets/StreamingAssets/.PLATEAU/13101_chiyoda-ku_city_2023_citygml_1_op/udx/frn/53394611_frn_6697_op.gml filter=lfs diff=lfs merge=lfs -text
TeamL/Assets/StreamingAssets/.PLATEAU/13101_chiyoda-ku_city_2023_citygml_1_op/udx/luse/533946_luse_6697_op.gml filter=lfs diff=lfs merge=lfs -text
